* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rightBar {
  color: #fff;
  font-family: Noto Sans;
  position: inherit;
  width: 24%;
  display: flex;
  justify-content: center;
  position: fixed;
  border-left: 1px solid #71777b;
  height: 100vh;
  // margin-left: 50px;
  &__container {
    width: 90%;
  }
  &__input {
    padding: 20px 0 20px 0;
    position: relative;
    svg {
      width: 25px;
      height: 25px;
      position: absolute;
      z-index: 1;
      top: 32px;
      left: 10px;
    }
    input {
      color: #fff;
      width: 100%;
      height: 48px;
      background-color: #212327;
      border: none;
      border-radius: 40px;
      font-size: 20px;
      position: relative;
      padding-left: 40px;
    }
  }
  // .rightBar__subscribePremium

  &__subscribePremium {
    width: 100%;
    height: 170px;
    background-color: #16181c;
    border-radius: 25px;
    margin-bottom: 20px;
    h3 {
      font-size: 18px;
      padding: 20px 0 5px 15px;
      margin: 0;
    }
    p {
      font-size: 15px;
      padding: 5px 0 5px 15px;
    }
    button {
      margin: 10px 15px;
      padding: 10px 20px;
      background-color: #1a8bd6;
      color: #fff;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      font-size: 16px;
      text-transform: uppercase;
      transition: background-color 0.3s ease;
    }
    button:hover {
      background-color: #0e5e8e;
    }
  }

  // .rightBar__recToFollow

  &__recToFollow {
    width: 100%;
    height: 300px;
    background-color: #16181c;
    border-radius: 25px;

    h3 {
      font-size: 18px;
      padding: 20px 0 5px 20px;
      margin: 0;
    }
  }

  // .rightBar__showMore

  &__showMore {
    span {
      color: #1e88d0;
      font-weight: 500;
      padding: 20px 0 0 20px;
      cursor: pointer;
    }
  }
}
.rightBar-recToFollow {
  // .rightBar-recToFollow__users

  &__users {
    display: flex;
    padding: 13px 20px 15px 20px;
    justify-content: space-between;
  }

  // .rightBar-recToFollow__follow

  &__follow {
    width: 69px;
    height: 29px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
      font-weight: 700;
      color: black;
    }
  }
}
.rightBar-recToFollow-users {
  // .rightBar-recToFollow-users__nickname

  &__nickname {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    span:first-child {
      font-size: 14px;
    }
    span:last-child {
      font-size: 14px;
      color: #ffffff50;
    }
  }
}
.aboutComp {
}

// trending
.trending-container {
  // position: relative;
  // padding: 20px;
  background-color: #16181c;
  border-radius: 10px;
  color: #e7e9ea;
  margin-bottom: 20px;
  border-radius: 25px;
  width: 100%;
}

.trending-header {
  font-size: 21px;
  margin-bottom: 10px;
  padding: 15px 0 0 15px;
}

.trending-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.trending-item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}
.trending-item:hover {
  background-color: #222;
}

.trending-info {
  margin-right: 20px;
  height: 60px;
}

.trending-title {
  font-size: 14px;
  margin-bottom: 5px;
  color: gray;
  padding-left: 20px;
}

.trending-hashtag {
  color: white;
  font-size: 18px;
  font-weight: 800;
  padding-left: 20px;
}

.trending-actions {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.trending-more-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.trending-more-icon {
  fill: #71777b;
  width: 24px;
  height: 24px;
}

.show-more-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  text-align: left;
  transition: background-color 0.3s ease;
}
.show-more-link:hover {
  background-color: #222;
}

.show-more-button {
  padding-left: 20px;
  color: #1d9bf0;
  text-decoration: none;
  font-size: 16px;
}

.show-more-button:hover {
  text-decoration: none;
}
.hover-card-parent {
  position: relative;
  bottom: 87.2625px;
  left: 75px;

  .hover-card {
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 200px;
    z-index: 999;

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
    }

    .content {
      position: relative;
      padding: 8px;
    }

    .hover-card-inner {
      display: flex;
      align-items: center;

      .icon {
        width: 24px;
        height: 24px;
        fill: #000;
        margin-right: 8px;
      }

      .hover-card-links {
        display: flex;
        flex-direction: column;
      }

      .hover-card-link {
        color: #000;
        text-decoration: none;
        margin-bottom: 8px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .leftBar {
    display: none;
  }
  .profileContainer {
    width: 100%;
  }
}
@media screen and (max-width: 1440px) {
  .rightBar__input {
    svg {
      right: 508px;
    }
  }
}
