* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rightBar {
  color: #fff;
  font-family: Noto Sans;
  position: inherit;
  // margin-left: 50px;

  &__input {
    padding: 20px 0 20px 0;
    svg {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 32px;
      right: 530px;
    }
    input {
      color: #fff;
      width: 278px;
      height: 48px;
      background-color: #212327;
      border: none;
      border-radius: 40px;
      font-size: 20px;

      &::placeholder {
        padding-left: 40px;
      }
    }
  }
  // .rightBar__subscribePremium

  &__subscribePremium {
    width: 400px;
    height: 170px;
    background-color: #16181c;
    border-radius: 25px;
    margin-bottom: 20px;
    h3 {
      font-size: 24px;
      padding: 10px 0 5px 15px;
      margin: 0;
    }
    p {
      padding: 5px 0 5px 15px;
    }
    button {
      margin: 10px 15px;
      padding: 10px 20px;
      background-color: #1a8bd6;
      color: #fff;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      font-size: 16px;
      text-transform: uppercase;
      transition: background-color 0.3s ease;
    }
    button:hover {
      background-color: #0e5e8e;
    }
  }

  // .rightBar__recToFollow

  &__recToFollow {
    width: 400px;
    height: 300px;
    background-color: #16181c;
    border-radius: 25px;

    h3 {
      font-size: 24px;
      padding: 10px 0 5px 15px;
      margin: 0;
    }
  }

  // .rightBar__showMore

  &__showMore {
    span {
      color: #1e88d0;
      font-weight: 500;
      padding: 10px 0 0 10px;
      cursor: pointer;
    }
  }
}
.rightBar-recToFollow {
  // .rightBar-recToFollow__users

  &__users {
    display: flex;
    padding: 13px 0 15px 12px;
  }

  // .rightBar-recToFollow__follow

  &__follow {
    width: 69px;
    height: 29px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 100px;
    span {
      font-weight: 700;
      color: black;
    }
  }
}
.rightBar-recToFollow-users {
  // .rightBar-recToFollow-users__nickname

  &__nickname {
    display: flex;
    flex-direction: column;
    span:first-child {
      font-size: 14px;
    }
    span:last-child {
      font-size: 14px;
      color: #ffffff50;
    }
  }
}
.aboutComp {
}

// trending
.trending-container {
  // position: relative;
  // padding: 20px;
  background-color: #16181c;
  border-radius: 10px;
  color: #e7e9ea;
  margin-bottom: 20px;
  border-radius: 25px;
}

.trending-header {
  font-size: 24px;
  margin-bottom: 10px;
  padding: 20px;
}

.trending-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.trending-item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}
.trending-item:hover {
  background-color: #222;
}

.trending-info {
  margin-right: 20px;
  height: 60px;
}

.trending-title {
  font-size: 14px;
  margin-bottom: 5px;
  color: gray;
  padding-left: 20px;
}

.trending-hashtag {
  color: white;
  font-size: 18px;
  font-weight: 800;
  padding-left: 20px;
}

.trending-actions {
  display: flex;
  align-items: center;
}

.trending-more-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.trending-more-icon {
  fill: #71777b;
  width: 24px;
  height: 24px;
}

.show-more-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  text-align: left;
  transition: background-color 0.3s ease;
}
.show-more-link:hover {
  background-color: #222;
}

.show-more-button {
  padding-left: 20px;
  color: #1d9bf0;
  text-decoration: none;
  font-size: 16px;
}

.show-more-button:hover {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .leftBar {
    display: none;
  }
  .profileContainer {
    width: 100%;
  }
}
@media screen and (max-width: 1440px) {
  .rightBar__input {
    svg {
      right: 508px;
    }
  }
}
