@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.profileContainer {
  width: 55.1%;
  margin: 0 auto;
}
.profileNavbar {
  border-bottom: 1px solid gray;
  // .profileNavbar__name
  &__name {
    display: flex;
    padding: 10px;
    span {
      font-family: Noto Sans;
      color: aliceblue;
      font-size: 25px;
      font-weight: 700;
    }
  }
}
.profileNavbar-name {
  // .profileNavbar-name__post
  &__post {
    margin-left: 30px;
    p {
      color: rgb(113, 118, 123);
      margin: 0;
      padding: 2px;
    }
  }
}
.profilePage {
  width: 100%;
  display: flex;
  justify-content: center;
  &__container {
    width: 70%;
    display: flex;
  }
}
.profilePhoto {
  background-color: #343639;
  width: 100%;
  height: 250px;
  img {
    width: 100%;
    height: 250px;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
}
.profileTitle {
  // .profileTitle__PhotoAvatar
  color: #fff;
  font-family: Noto Sans;

  &__PhotoAvatar {
    display: flex;
    border-radius: 100px;
    position: relative;
    margin-top: 5px;
    // justify-content: space-around;
    justify-content: end;
    .MuiAvatar-root {
      width: 149px;
      height: 150px;
      border-radius: 100px;
      padding: 2px;
      position: absolute;
      left: 20px;
      top: -60px;
    }
    p {
      //   margin-left: 900px;
      font-family: Roboto Condensed;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      border-radius: 25px;
      font-weight: 600;
      height: 46px;
      border: 1px solid rgba(255, 255, 255, 0.39);
      color: #fff;
      cursor: pointer;
    }
  }

  // .profileTitle__about

  &__about {
    padding: 50px 0 30px 30px;
    p {
      color: #c6cbd2a8;
      font-size: 18px;
      font-weight: 400;
      line-height: 19px;
      margin-top: 5px;
    }
    h3 {
      font-size: 25px;
      font-weight: 700;
      line-height: 24px;
      margin-top: 5px;
    }
  }
}
.profileTitle-about {
  // .profileTitle-about__data

  &__data {
    display: flex;
    align-items: center;
    margin-top: 5px;

    span {
      margin-left: 10px;
      color: #c6cbd2a8;
    }
  }
}
.pofileTitle-about {
  // .pofileTitle-about__followers

  &__followers {
    display: flex;
    p:first-child {
      margin-right: 15px;
    }
    p {
      color: #c6cbd2a8;
    }
  }
}

.tweets {
  // .tweets__travel
  border-bottom: 1px solid rgba(128, 128, 128, 0.486);
  &__travel {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
  }
}
.tweets-travel {
  // .tweets-travel__posts

  &__posts {
    text-align: center;
    font-family: Noto Sans;

    width: 50px;
    height: 34px;
    font-size: 20px;
    span {
      cursor: pointer;
    }
    &:hover {
      background-color: #edf8f82a;
    }
    border-bottom: 3px solid rgb(29, 155, 240);
  }

  // .tweets-travel__repies

  &__repies {
    text-align: center;
    font-family: Noto Sans;

    width: 61px;
    height: 34px;
    font-size: 20px;
    span {
      cursor: pointer;
    }
    &:hover {
      background-color: #edf8f82a;
    }
  }

  // .tweets-travel__highlights

  &__highlights {
    text-align: center;
    font-family: Noto Sans;

    width: 98px;
    height: 34px;
    font-size: 20px;
    span {
      cursor: pointer;
    }
    &:hover {
      background-color: #edf8f82a;
    }
  }

  // .tweets-travel__articles

  &__articles {
    text-align: center;
    font-family: Noto Sans;

    width: 67px;
    height: 34px;
    font-size: 20px;
    span {
      cursor: pointer;
    }
    &:hover {
      background-color: #edf8f82a;
    }
  }

  // .tweets-travel__media

  &__media {
    text-align: center;
    font-family: Noto Sans;

    width: 50px;
    height: 34px;
    font-size: 20px;
    span {
      cursor: pointer;
    }
    &:hover {
      background-color: #edf8f82a;
    }
  }

  // .tweets-travel__likes

  &__likes {
    text-align: center;
    font-family: Noto Sans;

    width: 50px;
    height: 34px;
    font-size: 20px;
    span {
      cursor: pointer;
    }
    &:hover {
      background-color: #edf8f82a;
    }
  }
}

.newsTemp {
  width: 95%;
  margin: 0 auto;

  color: #fff;
  margin-bottom: 25px;

  span {
    display: flex;
  }
  h2 {
    color: #fff;
    font-size: 30px;
    padding: 15px 0 30px 0;
  }
  // .newsTemp__users

  &__users {
    display: flex;
  }
}
.newsTemp-users {
  // .newsTemp-users__nickName

  &__nickName {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 113px;
    span:last-child {
      color: #e4e6e870;
      font-size: 18px;
    }
    span:first-child {
      font-size: 23px;
    }
  }
}
.newsTemp__all {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
// Modal Edit profile
.profile-edit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.user-profile-form {
  position: relative;
  top: 0%;
  left: 30%;
  z-index: 99;
  max-width: 400px;
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: black;

  .form-header {
    color: #333;
  }

  .form-section {
    margin-bottom: 15px;
  }

  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;

    .label-text {
      display: block;
      margin-bottom: 5px;
    }

    .form-input,
    .form-textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid gray;
      border-radius: 5px;
      font-size: 16px;
      background-color: transparent;
    }

    .form-textarea {
      min-height: 100px;
    }
  }

  .form-actions {
    text-align: right;

    .save-button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
.drop-container {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  margin: 20px;
  position: relative;
  overflow: hidden;
  height: 200px;
}

.drop-container.dragover {
  background-color: #f0f0f0;
}

.drop-container label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-container label::after {
  content: "Перетащите фото сюда или кликните, чтобы выбрать";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.drop-container img {
  max-width: 100%;
  max-height: 400px;
  margin-top: 10px;
}

input[type="file"] {
  display: none;
}

@media screen and (max-width: 1024px) {
  .profileTitle__PhotoAvatar {
    img {
      left: 202px;
    }
  }
  .profileTitle-about__data {
    margin-bottom: 5px;
    span {
      font-size: 15px;
    }
  }
  .pofileTitle-about__followers {
    p {
      font-size: 15px;
    }
  }
  .newsTemp {
    h2 {
      font-size: 24px;
    }
  }
  .newsTemp-users__nickName {
    span:first-child {
      font-size: 19px !important;
    }
  }
  .newsTemp-users__nickName {
    width: 98px;
  }
  .profileNavbar__name {
    svg {
      width: 30px;
      height: 32px;
    }
  }
  .profileNavbar__name {
    span {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .tweets-travel__posts {
    font-size: 15px;
  }
  .tweets-travel__repies {
    font-size: 15px;
  }
  .tweets-travel__highlights {
    font-size: 15px;
  }
  .tweets-travel__articles {
    font-size: 15px;
  }
  .tweets-travel__media {
    font-size: 15px;
  }
  .tweets-travel__likes {
    font-size: 15px;
  }
  .profileTitle__PhotoAvatar {
    img {
      left: 209px;
    }
  }
}
