@import url("https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

.main {
  width: 55.1%;
  position: relative;
}
.foryouAndFollowing {
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-family: Noto Sans;

  border-right: 1px solid gray;
  // border-left: 1px solid gray;

  &__foryou {
    font-size: 20px;
    border-bottom: 3px solid rgb(29, 155, 240);
    cursor: pointer;
  }

  // .foryouAndFollowing__following

  &__following {
    font-size: 20px;
    // border-bottom: 3px solid rgb(29, 155, 240);
    cursor: pointer;
  }
}

.HomePage{
  width: 100%;
  display: flex;
  justify-content: center;
}

.HomePage__container{
  width: 70%;
  display: flex;
}

.Sidebar{
  width: 17%;
  height: 100vh;
}

.leftBar{
  width: 28%;
  position: relative;
}

.homePagePosts {
  // .homePagePosts__inputs
  padding: 10px 40px 40px 40px;
  color: white;
  display: flex;
  width: 100%;
  border: 1px solid gray;
  border-left: none;
  &__inputs {
    margin-left: 20px;
    width: 100%;
    input {
      width: 232px;
      height: 82px;
      background-color: inherit;
      border: none;
      font-size: 20px;
      color: aliceblue;
    }
  }

  // .homePagePosts__icons

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .icons {
      display: flex;
    }
    svg {
      color: rgb(29, 155, 240);
      width: 30px;
      height: 25px;
      // margin-right: 30px;
      cursor: pointer;
    }
    button {
      width: 84px;
      height: 39px;
      border: none;
      border-radius: 25px;
      font-size: 20px;
      color: #fff;
      background-color: rgb(29, 155, 240);
      // margin-left: 200px;
    }
  }
}

.usersPosts {
  color: #fff;
  // .usersPosts__userInfo
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;

  border: 1px solid gray;
  border-left: none;

  &__userInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    &__inf{
      display: flex;
      align-items: center;
      p {
        font-size: 20px;
        font-weight: 500;
        font-family: Noto Sans;
        margin-left: 5px;
      }
      span {
        color: #ffffff80;
        margin-left: 10px;
      }
    }
  
  }

  // .usersPosts__post

  &__post {
    width: 100%;
    height: 545px;
    background-color: #95919189;
    margin: 0 auto;
  }

  // .usersPosts__comments

  &__comments {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff5f;
    cursor: pointer;
    svg {
    }
  }

  // .usersPosts__repost

  &__repost {
    // margin-right: 140px;
    display: flex;
    align-items: center;
    color: #ffffff5f;
    cursor: pointer;
  }

  // .usersPosts__like

  &__like {
    // margin-right: 140px;
    display: flex;
    align-items: center;
    color: #ffffff5f;
    cursor: pointer;
  }

  // .usersPosts__bookMarks

  &__bookMarks {
    // margin-right: 140px;
    display: flex;
    align-items: center;
    color: #ffffff5f;
    cursor: pointer;
  }
}
.userPosts__containerComents {
  display: flex;
  margin-top: 20px;
  // margin-left: 20px;
  display: flex;
  justify-content: space-around;
}

.postest {
  width: 100%;
  margin: auto;
}

.adaptiv {
  display: flex;
  justify-content: center;
  width: 200px;
}
.mainHomePage {
  width: 70%;
  margin: 0 auto;
}
.homePagePosts__icons {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .usersPosts__userInfo {
    p {
      font-size: 12px;
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .leftBar {
    width: 25%;
  }
  // .mainHomePage {
  //   width: 100%;
  //   margin-left: 30px;
  // }
  .rightBar__input {
    input {
      // width: 50px !important;
      height: 45px !important;
    }
  }
  .rightBar__subscribePremium {
    width: 300px !important;
    h3 {
      font-size: 19px !important;
    }
    p {
      font-size: 15px !important;
    }
  }
  .rightBar__recToFollow {
    width: 300px !important;
  }
  .rightBar__input {
    svg {
      right: 273px !important;
    }
  }
  .foryouAndFollowing__foryou {
    span {
      font-size: 15px;
    }
  }
  .foryouAndFollowing__following {
    span {
      font-size: 15px;
    }
  }
  .avatar {
    width: 40px !important;
    height: 40px !important;
  }
  .homePagePosts__icons {
    width: 350px;
    button {
      width: 82px !important;
      height: 30px !important;
    }
  }
}
@media screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
  .homePagePosts__icons {
    width: 300px;
  }
}

@media screen and (max-width: 425px) {
  .appMain {
    width: 100% !important;
  }
  // .sideBar {
  //   display: flex;
  //   flex-direction: column;
  //   position: absolute;
  // }
  // .positon {
  // }
  .homePagePosts__icons {
    width: 88%;
    display: flex;
    justify-content: start;
  }
  .homePagePosts {
    padding: 5px;
  }
  .usersPosts__post {
    height: 290px;
  }
  .notifications__notifaction span {
    font-size: 13px;
  }
  .tweets-travel__repies span {
    font-size: 12px;
  }
  .tweets-travel__posts span {
    font-size: 12px;
  }
  .tweets-travel__highlights span {
    font-size: 12px;
  }
  .tweets-travel__articles span {
    font-size: 12px;
  }
  .tweets-travel__media span {
    font-size: 12px;
  }
  .tweets-travel__likes span {
    font-size: 12px;
  }
  .newsTemp h2 {
    font-size: 22px !important;
  }
  .profileTitle__about {
    padding: 40px 0px 30px 0 !important;
  }
  .profileTitle__PhotoAvatar img {
    width: 130px !important;
    height: 130px !important;
  }
  .profileTitle__PhotoAvatar p {
    width: 100px;
    height: 38px;
    font-size: 13px;
  }
  .messagePage-container__welcomeText h2 {
    font-size: 25px !important;
  }
  .messagePage-container__welcomeText {
    margin: 55px 0 0 15px !important;
  }
  .messagePage-container__welcomeText button {
  }
  .profileTitle__PhotoAvatar {
    img {
      left: 104px;
    }
  }
}
