* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  cursor: default;
}
h2 {
  font-size: 45px;
  color: #fff !important;
}
.p-links {
  color: blue;
  font-size: 18px !important;
  font-weight: 400 !important;
  cursor: pointer;
}
